@charset "UTF-8";

.container {
  width: 48%;
  display: inline-block;
}

.container img {
  display: block;
  width: 100%;
}

svg {
  width: 100px;
  margin-bottom: 20px;
}

#moveIcon:hover #circle  {
  stroke: red;
}

.big {
  transform: scale(2);
}